<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.crossword.yourealwaysbe.forkyz"
    android:installLocation="auto"
    android:versionCode="700000"
    android:versionName="7">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="23"
        tools:ignore="ScopedStorage"
        android:description="@string/perm_read_desc"
    />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="23"
        tools:ignore="ScopedStorage"
        android:description="@string/perm_write_desc"
    />
    <uses-permission
        android:name="android.permission.INTERNET" 
        android:description="@string/perm_internet_desc"
    />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:description="@string/perm_access_network_state_desc"
    />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:description="@string/perm_boot_desc"
    />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="app.crossword.yourealwaysbe.forkyz.ForkyzApplication"
        android:backupAgent="app.crossword.yourealwaysbe.forkyz.BackupAgent"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
    >
        <activity
            android:name="app.crossword.yourealwaysbe.HttpDownloadActivity"
            android:label="@string/download_label"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\\.puz"
                    android:scheme="http"
                />
            </intent-filter>
        </activity>
        <activity
            tools:ignore="UnusedAttribute"
            android:name="app.crossword.yourealwaysbe.PlayActivity"
            android:hardwareAccelerated="false"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Forkyz"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="app.crossword.yourealwaysbe.PreferencesActivity"
            android:label="@string/settings_label"
            android:theme="@style/Theme.Forkyz"
            />
        <activity
            android:name="app.crossword.yourealwaysbe.ClueListActivity"
            android:label="@string/clues_list_label"
            android:theme="@style/Theme.Forkyz"
            android:configChanges="orientation"
        />
        <activity
            android:name="app.crossword.yourealwaysbe.NotesActivity"
            android:label="@string/notes_label"
            android:theme="@style/Theme.Forkyz"
        />
        <activity
            android:name="app.crossword.yourealwaysbe.HTMLActivity"
            android:label="@string/html_label"
            android:theme="@style/Theme.Forkyz"
            />
        <activity
            android:name="app.crossword.yourealwaysbe.BrowseActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:theme="@style/Theme.Forkyz"
            tools:ignore="AppLinkUrlError"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-crossword" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.crossword.yourealwaysbe.PuzzleFinishedActivity"
            android:label="@string/puzzle_completed_label"
            android:theme="@style/Theme.AppCompat.Dialog"/>

        <receiver android:name="app.crossword.yourealwaysbe.net.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name="app.crossword.yourealwaysbe.service.BackgroundDownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
        </service>
    </application>
</manifest>
